.root{
    -fx-background-color: #222;
    -fx-background-radius: 2;
}
.mainPane{
    -fx-background-color: linear-gradient(to bottom right, #996633, #86592d );/*#FF7F50, #5A5ACD*/
}
.displayPane{

    -fx-background-color: #669999;
    -fx-background-radius: 20;
}